
@{
    ViewBag.Title = "Index";
}


<h3 style="background-color: darkslategrey; color: wheat; text-align: center">  *************** This is Finance Controller inside Finance Area ***********  </h3>


