
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h3 style="background-color: darkslategrey; color: wheat; text-align: center">  *************** This is HR Controller inside HR Area ***********  </h3>


